body {
    background: rgb(225, 244, 203);
}
h1{
    margin: 0;
    padding: 0%;
    text-align: center;
}
p {
    margin: 3;
    padding: 2;
    font-style: black;
    font-size: 18px;
    font-weight: bold;

}